<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016.
  ~ © PrimoCollect IT team.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.1.xsd">

    <task:scheduler id="memorySchedulerListener"/>
    <task:scheduler id="usersHolderSynchronizeScheduler"/>
    <task:scheduler id="channelsHolderSynchronizeScheduler"/>

    <task:scheduled-tasks scheduler="memorySchedulerListener">
        <task:scheduled ref="memoryLogScheduler" method="logMemory" cron="*/30 * * * * *"/>
    </task:scheduled-tasks>
    <task:scheduled-tasks scheduler="usersHolderSynchronizeScheduler">
        <task:scheduled ref="usersHolder" method="synchronizeUsers" cron="*/15 * * * * *"/>
    </task:scheduled-tasks>

</beans>