<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016.
  ~ © PrimoCollect IT team.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="defaultAsteriskCredential" class="com.primosoft.astman.core.ast.credential.DefaultCredential"/>
    <bean id="asteriskCredentialsHolder" class="com.primosoft.astman.core.ast.credential.AsteriskCredentialsHolder">
        <constructor-arg value="#{defaultAsteriskCredential.configuredAsteriskCredential}"/>
    </bean>

</beans>