<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016.
  ~ © PrimoCollect IT team.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-context.xml"/>
    <import resource="spring-beans.xml"/>
    <import resource="spring-profile.xml"/>
    <import resource="spring-tasks.xml"/>
    <import resource="spring-aop.xml"/>

</beans>